.article {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	box-shadow: 0 0 10px rgba(202, 200, 200, 0.479);
	background-color: rgb(54, 54, 54);
	border-radius: 8px;
	color: rgb(246, 241, 235);
}

h1 {
	color: rgb(240, 240, 240);
}

p {
	margin-bottom: 15px;
}

.meta {
	font-style: italic;
	color: #777;
}
