/* base.css */
body {
	background-image: url('/static/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

nav.navbar {
	padding-left: 15%; /* Adjust the value to your preference */
	padding-top: 15px;
	padding-bottom: 15px;
}
.navbar-nav {
	padding-right: 15%; /* Adjust the value to your preference */
}